html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.main_container{
    position: absolute;
    left: 27%;
    top: 13%;
    width: 47%;
    height: 77%;
    margin: 0 auto;
    background-color: rgb(0,128,129);
    display: flex;
    flex-direction: column;
}
.container{
    height: 100%;
    display: flex; /* adjustment */
  flex-direction: column; /* new */
  align-items: center;
  justify-content: center;
  row-gap: normal;
}
.uinput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40%;
    margin-bottom: 25px;
}
label{
    color: white;
    margin-bottom: 10px;
    font-weight: 900;
}
input[type='text']{
    line-height: 3.5rem;
    width: 57%;
    border-radius: 5px;
    border: 2px solid white;
}
input[type='text']:focus{
    border: 3px solid rgb(16,16,16);
    border-radius: 5px;
}


button{
    margin-right:2%;
    width: 58%;
    line-height: 3.5rem;
    color: white;
    background-color: rgb(242, 109, 53);
    border-radius: 5px;
    font-size: large;
}
a, span{
    
    position: relative;
    top: 8%;
    color: white;
    margin-top: 10px;
    font-size: 1.3rem;    
}
.close{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: xx-large;
    color: rgb(166, 248, 203);
}
.empty_space{
    margin-left: 12px;
    margin-right: 12px;
}